@import "tailwindcss";

@theme {
  --color-primary: #647a36;
  --color-primarydark: #354321;
  --color-secondary: #ff911e;
  --color-background: #ffffe8;
  --color-backgroundsecondary: rgba(255, 195, 195, 0.3);
}

body {
  background: var(--color-background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
